{% extends 'base.html' %}


{% block title %}
    Add item
{% endblock %}

{% block body %}

<div>
    <h2>Select Author:</h2>
</div>
<div>
    <div>
    <form method="post">
      {{ form.csrf_token }}
      {{ form.user_id(class="form-select") }}
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control") }}
      {{ form.body.label(class="form-label") }}
      {{ form.body(class="form-control") }}
      <br>
    <input class="btn btn-success my-2" type="submit" value="Add item">
    </form>
</div>
{% endblock %}