{% extends 'base.html' %}


{% block title %}
    Add item
{% endblock %}

{% block body %}

<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">e-mail</th>
        </tr>
      </thead>
  <tbody>
        {% for author in authors %}
        <tr><td><a href="{{ url_for('author_app.details', author_id=author.id) }}"> {{ author.name }} </a></td><td>{{ author.email }}</td></tr>
        {% endfor %}
  </tbody>
 </table>
</div>
<div>
    <a class="btn btn-success my-2" href="{{ url_for('author_app.add') }}">
        Add author
    </a>
</div>
{% endblock %}