{% extends 'base.html' %}


{% block title %}
    Post list
{% endblock %}

{% block body %}
<h1>Posts:</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
  <tbody>
        {% for post in posts %}
        <tr><td><a href="{{ url_for('post_app.details_post', author_id=post.author.id) }}"> {{ post.author.name }} </a></td>
            <td><a href="{{ url_for('post_app.post_body', post_id=post.id) }}">{{ post.title }}</a></td></tr>
        {% endfor %}
  </tbody>
    </table>

</div>

{% endblock %}